.DfContainer {
  justify-content: flex-end;
  display: flex;
  padding-bottom: 40px;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .DfContainer {
    align-items: flex-end;
    flex-direction: column;
  }
}
.DfDate {
  display: flex;
  position: relative;
}
.DfButton {
  position: relative;
}
.updateButton {
  background-color: rgb(34, 207, 207);
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  height: 36px;
  margin-left: 8px;
  margin-top: 14px;
  padding-left: 12px;
  padding-right: 12px;
}
.updateButton:hover {
  cursor: pointer;
}
.updateButton:active {
  background-color: rgba(34, 207, 207, 0.8);
}
.dateLabel {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.label {
  color: #666666;
  font-size: 14px;
  line-height: 1;
}
.dateFilterFrom {
  height: 32px;
}
.dateFilterTo {
  height: 32px;
}
